syntax on
syntax enable
set nocompatible
" Search down into subfolders
set path+=**
let mapleader=","
set number
set relativenumber
set background=dark
set cursorline
" Enable tab-completion
set wildmenu
set lazyredraw
set showmatch
set incsearch
set hlsearch
set paste
set complete=.,w,b,u,t,i,kspell
filetype plugin indent on
" On pressing tab, insert 2 spaces
set expandtab
" Show existing tab with 2 spaces width
set tabstop=2
set softtabstop=2
" When indenting with '>', use 2 spaces width
set shiftwidth=2
set foldenable
set foldlevelstart=10
set foldmethod=indent  " fold based on indent level 

filetype plugin on

" Toggle fold
nnoremap <space> za
" Turn off search highlight by mapping :nohlsearch to space
nnoremap <leader><space> :nohlsearch<CR>

" Terminal
nnoremap <leader>t :below terminal<CR>

